DATA_ROOT="/Users/xiaobai/Documents/model"

MLFLOW_TRACKING_URI="http://YOUR_SERVER_IP:5000"
MLFLOW_TRACKING_USERNAME="admin"
MLFLOW_TRACKING_PASSWORD="YOUR_PASSWORD"
MLFLOW_EXPERIMENT_NAME="pytorch-training"
MLFLOW_RUN_NAME=""
MLFLOW_LOG_EVERY_N_STEPS=20
MLFLOW_STRICT=false
MLFLOW_ENABLE_ARTIFACTS=true
